---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body class="bg-slate-900 text-gray-100">
    <Nav />
    <div class="wrapper">
      <p>Not found</p>
    </div>
    <style>
      .wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
      }
    </style>
  </body>
</html>
