---
import MainHead from "@components/MainHead.astro";
import Nav from "@components/Nav.astro";
import PortfolioPreview from "@components/ProjectPreview.astro";
import type { FrontMatter,Project } from "../types";

const allProjects = (await Astro.glob<FrontMatter>("./projects/**/*.mdx")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);


type ProjectGroup = {
  description: string;
  projects: Project[];
};

const projectGroups: {[key: string]: ProjectGroup} = {
  "Software": {
    "description": "General software products, most of which are web apps or small backend services.",
    "projects": []
  },
  "Data Science": {
    "description": "Projects involving data analysis and machine learning, typically written in R or Python. Presented as a minimal product as a package, web application, report or API that can be called by others.",
    "projects": []
  },
  "Other": {
    "description": "Miscellaneous experiments",
    "projects": []
  }
}



allProjects.forEach((project) => {
  const group = project.frontmatter.group || project.url!.split("/")[2];
  if (Object.keys(projectGroups).includes(group)) {
    projectGroups[group].projects.push(project);
  } else {
    projectGroups["Other"].projects.push(project);
  }
});
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body class="bg-slate-900">
    <Nav />
    <div class="wrapper">
      {
        Object.keys(projectGroups).map((group) => {
          const projectGroup = projectGroups[group];
          return (
            <div class="project-group">
              {group && (
                <h2 class="text-3xl font-extrabold my-4 mx-0 text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-pink-500 m-8">
                  {group} Projects
                </h2>
                <p class = "my-4 text-gray-400">{projectGroup.description}</p>
              )}
              <div class="grid grid-cols-2 gap-10">
                {projectGroup.projects.map((project) => (
                  <PortfolioPreview project={project} />
                ))}
              </div>
            </div>
          );
        })
      }
    </div>
    );
  </body>
</html>
