---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
  class?: string
}

const { headings } = Astro.props;
---

<nav class:list={["h-screen top-20 sticky p-4", {class: true}]}>
  {
    (
      <ul>
        {headings.map((heading) => (
          <li>
            <a href={`#${heading.slug}`} class="sidebar-link">
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    )
  }
</nav>

<style>
  li {
    border-bottom: 1px solid var(--color-gray-300);
  }
</style>
